.deleteBtn{
    margin-top: 5px;
}

.dashButton {
    margin-right: 5px;
    margin-top: 5px;
  }
  
  .classBtn {
    margin-right: 5px;
    margin-top: 5px;
  }
  
  .dashDiv {
    height: 30%;
  }

  #assBtn {
      margin-top: 10px;
  }

  .studentAddBtn {
    margin-left: 10px;
    margin-right: 10px;
  }

  #studentFormBtn {
    margin-bottom: 15px;
  }

  .formBtn {
    margin-top: 10px;
  }

  #menuBtn {
    padding-left: 20px;
    padding-right: 20px;
  }

  .classIcon {
    margin-top: -15px;
  }

  #assignmentDiv {
    margin-bottom: 10px;
  }

  .gradeChart {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .incidentIcon {
    margin-bottom: -15px;
  }

  .studentClassBtn {
    margin-bottom: 10px;
  }

  .studentIcon {
    margin-top: -11px;
  }