<h1>{{currentClass.name}}</h1>
<button ng-click = "addStudentForm()">Add Student</button>
<h2>Students:</h2>
<ul ng-repeat = "student in myStudents">
    <li><a href="#!/students/studentDash/{{student.id}}">{{student.studentFirstName}} {{student.studentLastName}}</a>Overall Grade: {{student.overallGrade}}<button ng-click="deleteStudentFromClass(student)">Remove Student from Class</button></li>
</ul>
<h2>Assignments:</h2>
<ul ng-repeat = "assignment in myAssignments">
    <li><a href="#!/assignments/assignmentDash/{{assignment.id}}">{{assignment.title}}</a><button ng-click="deleteAssignmentFromClass(assignment)">Delete Assignment from Class</button></li>
</ul>