<h3>Incident Report:</h3>
<div class="divider"></div>
<h5>Student: {{student.studentFirstName}} {{student.studentLastName}}</h5>
<h5>Class: {{incidentClass.name}}</h5>
<h5>Teacher: {{teacher.firstName}} {{teacher.lastName}}</h5>
<div class="divider"></div>
<h5>Date of Incident: {{incident.date}}</h5>
<h5>Infaction: {{incident.infraction}}</h5>
<h5>Infraction Details: {{incident.details}}</h5>

<button class = "btn waves-effect waves-light" ng-click="emailReport(student.parentEmail)"><i class="material-icons right">send</i>Email Report to Parent/Guardian</button>

