<h2>Add Assignment:</h2>
<form ng-submit="">
    <input type="text" ng-model="newAssignment.title" placeholder="Assignment Title">
    <textarea ng-model="newAssignment.description" placeholder="Assignment Description"></textarea>
    <label>Date Due:</label>
    <input type="date" ng-model="newAssignment.dueDate">
    <label>Assign to:</label>
    <div ng-repeat="class in classes">
        <label>
            <input type="checkbox" ng-model="addToClasses" value="class.id">
            {{class.name}}
        </label>
    </div>
</form>