<h3>
    <i class="medium material-icons left">assignment</i>Add Assignment:</h3>
<div class="divider"></div>
<form ng-submit="addAssignment()">
    <input type="text" ng-model="newAssignment.title" placeholder="Assignment Title">
    <textarea ng-model="newAssignment.description" placeholder="Assignment Description"></textarea>
    <label>Date Due:</label>
    <input type="text" class="datepicker" ng-model="newAssignment.dueDate">
    <label>Assign to:</label>
    <div ng-repeat="class in classes">
        <p>
            <input type="checkbox" id="{{class}}" ng-model="classes[$index].enabled">
            <label for="{{class}}">
                {{class.title}}
            </label>
        </p>
    </div>

    <button id="assBtn" class="waves-effect waves-light btn">
        <i class="material-icons left">assignment</i>Add Assignment</button>
</form>
<button class="waves-effect waves-light btn" ng-click="classList()">
    <i class="material-icons left">school</i>View Classes</button>