<h2>Add Student to {{currentClass.name}}:</h2>
<form ng-submit="addStudent()">
    <fieldset>
        <label>Student Information:</label><br>
            <input ng-model="newStudent.studentFirstName" type="text" placeholder="Student First Name"><br>
            <input ng-model="newStudent.studentLastName" type="text" placeholder="Student Last Name"><br>
        <label>
            <input type="radio" ng-model = "newStudent.gender" value = "male" name = "Male">
            Male
        </label>
        <label>
            <input type="radio" ng-model = "newStudent.gender" value = "female" name ="female">
            Female
        </label><br>
        <input ng-model = "newStudent.studentEmail" type="text" placeholder="Student Email">
    </fieldset>
    <fieldset>
        <label>Parent/Guardian Information:</label><br>
            <input ng-model = "newStudent.parentFirstName" type="text" placeholder="Parent/Guardian First Name"><br>
            <input ng-model="newStudent.parentLastName" type="text" placeholder="Parent/Guardian Last Name"><br>
            <input ng-model="newStudent.parentEmail" type="text" placeholder="Parent/Guardian Email">
    </fieldset>
    <button>Add Student</button>
</form>