<h3>{{currentStudent.studentFirstName}} {{currentStudent.studentLastName}}</h3>
<a class="btn waves-effect waves-light" href="mailto:{{currentStudent.parentEmail}}"><i class="material-icons right">send</i>Email Parent/Guardian</a>
<h4>Class Roster:</h4>
<ul ng-repeat="class in classes">
    <li><a href="#!/classes/classStudentDash/{{class.id}}">{{class.name}}</a><span>Grade: {{class.grade}}</span></li>
</ul>
<h4>Discipline Incidents:</h4>
<ul ng-repeat = "incident in incidents | orderBy: '-date'">
    <li><a href="#!/discipline/disciplineDash/{{incident.id}}">{{incident.className}} {{incident.infraction}}</a> {{incident.date}}</li>
</ul>