<section>
    <h3 class="center-align">Welcome {{firstName}}!</h3>
    <div class="row">
        <!-- <div class= "#b2dfdb teal lighten-4
     valign-wrapper dashDiv col s3 offset-s1 center-align" >
        <button class = "dashButton waves-effect waves-light btn-large" id="addClass" ng-click= "addClass()"><i class="material-icons left">group_add
        </i>Add Class</button>
    </div> -->
        <div class="#b2dfdb teal lighten-4
     valign-wrapper dashDiv col s4 offset-s1 center-align">
            <button class="dashButton waves-effect waves-light btn-large" id="classList" ng-click="classList()">
                <i class="material-icons left">school</i>Classes</button>
        </div>
        <div class="#b2dfdb teal lighten-4
     valign-wrapper dashDiv col s4 offset-s2 center-align">
            <button class="dashButton waves-effect waves-light btn-large" id="addAssignment" ng-click="assignmentForm()">
                <i class="material-icons left">assignment</i>Assignments</button>
        </div>
    </div>
    <div class="row">
        <div class="#b2dfdb teal lighten-4
     valign-wrapper dashDiv col s4 offset-s1 center-align">
            <button class="dashButton waves-effect waves-light btn-large" id="addDiscipline" ng-click="disciplineForm()">
                <i class="material-icons left">error</i>Discipline Form</button>
        </div>
        <div class="#b2dfdb teal lighten-4
     valign-wrapper dashDiv col s4 offset-s2  center-align">
            <button class="dashButton waves-effect waves-light btn-large" id="studentList" ng-click="studentList()">
                <i class="material-icons left">people</i> Students</button>
        </div>
    </div>
</section>